.body{
    zoom: 90%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


/*Header==============*/

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 97px;
}

.header__inner{
    display: flex;
    padding-top: 72px;
    margin-left: 542px;
}

.nav{
    display: flex;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.nav__link{
    color: black;
    text-decoration: none;
    margin-left: 96px;


}

.nav__link:hover{
    text-decoration: underline;
}

@media screen and (max-width:420px) {
    .nav{
        font-size: 15px;
    }

    .header__inner{
        margin-left: 30px;
    }

    .nav__link{
        margin-left: 40px;
    }

}
/*FirstPage=============*/
.FirstPage{
    height: 1024px;
    background-color: #D6EBF7;
    padding-top: 97px;

}
.RiceBowl{
    display: flex;
    margin-left: 195px;
    position: absolute;
    margin-top: 131px;
}

.Img1{
    display: flex;
    position: absolute;
    margin-left: 733px;
}
.Img2{
    display: flex;
    position: absolute;
    margin-left: 1170px;
    margin-top: -100px;

}
.aboutPoke{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;

}
.Par1{
    display: flex;
    width: 474px;
    height: 96px;
    margin-left: 246px;
    position: absolute;
    margin-top: 480px;
}
.Img3{
    display: flex;
    position: absolute;
    margin-top: 600px;
}
.Par2{
    display: flex;
    position: absolute;
    width: 469px;
    height: 40px;
    margin-left: 486px;
    margin-top: 672px;
}
.eat{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
.buttonFP{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    width: 221px;
    height: 47px;
    border-radius: 40px;
    background-color: #6368BF;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 542px;
    margin-top: 750px;

}
.buttonFP:hover{
    background-color: #3c3f7b;
}


@media screen and (max-width:420px){
    .RiceBowl{
        width: 250px;
        margin-left: 10px;
        margin-top: 200px;
    }
    .Img1{
        width: 230px;
        margin-left: 130px;
        margin-top: 30px;
    }
    .Img2{
        width:150px;
        margin-left: 200px;
    }
    .Par1{
        margin-left: 20px;
        width: 200px;
        margin-top: 360px;

    }
    .aboutPoke{
        font-size: 15px;
    }
    .Img3{
        width:90px;
        margin-left:0;
        margin-top: 570px;
    }
    .Par2{
        margin-left: 50px;
        margin-top: 500px;
    }
    .eat{
        font-size: 19px;
    }
    .buttonFP{
        width: 130px;
        height: 33px;
        margin-left: 120px;
        margin-top: 560px;
        font-size: 15px;
    }
    .FirstPage{
        height: 812px;
    }
}

/*SecondPage=============*/
.SecondPage{
    display: flex;
    height: 1024px;
    background-color: white;

}
.Img13{
    display: flex;
    position: absolute;
    margin-top: 156px;
}

.aboutBowl{
    width: 525px;
    margin-left: 792px;
    margin-top: 250px;

}
.aboutUs{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;

}
.btnPoke{
    position: absolute;
    width: 278px;
    height: 67px;
    border-radius: 40px;
    background-color: #9F2926;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-left: 838px;
    margin-top: 650px;
}
.btnPoke:hover{
    background-color: #870605;
}
@media screen and (max-width:420px){
    .Img13{
        width:329px;
        margin-top: 50px;
    }
    .Img2014{
        width: 200px;

    }
    .aboutBowl{
        width: 250px;
        margin-left: 60px;
        margin-top: 400px;
    }
    .aboutUs{
        font-size: 15px;
    }
    .btnPoke{
        width: 180px;
        height: 37px;
        margin-left: 90px;
        margin-top: 720px;
        font-size:17px ;
    }
    .SecondPage{
        height: 816px;
    }
}

/*ThirdPage============*/
.ThirdPage{
    display: flex;
    height: 1024px;
    background-color: #5D60B2;
}

.HeaderMenu{
    padding-top: 120px;
    text-align: center;
    color: #EFF3FF;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}

.blockMenu{
    display: flex;
    width: 507px;
    height: 207px;
    margin-left: 467px;
}
.menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: #EFF3FF;
}

.Menu__M{
    display: flex;

}
.Menu__item{
    width: 33.33333%;
    text-align: center;


}
.Menu__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: #EFF3FF;
}

.Price{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #EFF3FF;
}

.Menu__title1{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: #EFF3FF;
    padding-top: 25px;
}

@media screen and (max-width:420px){
    .HeaderMenu{
        padding-top: 30px;
        font-size: 30px;
    }
    .blockMenu{
        margin-left: 20px;
        width: 310px;

    }
    .menu{
        font-size: 12px;
    }
    .Menu__M{
        flex-direction: column;
        margin-top: -110px;
        margin-left: 70px;
    }
    .Menu__icon{
        margin-top: 10px;
        height: 170px;

    }
    .Menu__title{
        font-size: 12px;
        margin-left: 30px;
        margin-top: -15px;

    }
    .Price{
        font-size: 15px;
    }
    .Menu__item{
        width: 70%;
    }
    .Menu__title1{
        margin-top: -30px;
        font-size: 12px;
        margin-left: 30px;
    }
    .ThirdPage{
        height: 820px;
    }
}

/*FourPage================*/
.FourPage{
    height: 800px;
    background-color: white;
}
.div4{

}

.Img4{
    position: absolute;
    margin-left: -60px;
    margin-top: 160px;
}

.Img5{
    position: absolute;
    margin-top: 160px;
    margin-left: 300px;
}
.Review{
    display: flex;
    position: absolute;
    width: 417px;
    height: 161px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 19px;
    margin-left: 440px;
    margin-top: 300px;
}

.Tom{
    display: flex;
    position: absolute;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    margin-left: 690px;
    margin-top: 450px;
    justify-content: space-between;
}

.HarsRew{
    margin-left: 20px;
}

.Customers{
    display: flex;
    position: absolute;
    width: 446px;
    height: 189px;
    margin-left: 1050px;
    margin-top: 100px;

}

.HapCust{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 76px;
}

.ImgArrow{
    position: absolute;
    margin-top: 300px;
}

@media screen and (max-width:420px){
    .Img4{
        width:190px;
        margin-top: 70px;
    }
    .Img5{
        width: 325px;
        margin-left: 50px;
        margin-top: 280px;
    }
    .Review{
        width: 250px;
        height: 161px;
        font-size: 10px;
        margin-left: 110px;
        margin-top: 350px;
    }
    .Tom{
        font-size: 12px;
        margin-left: 200px;
        margin-top: 430px;
    }
    .TomImg{
        width:50px ;
    }
    .Customers{
        width: 446px;
        height: 189px;
        margin-left: 70px;
        margin-top: 510px;
    }
    .HapCust{
        font-size: 45px;

    }
    .ImgArrow{
        width: 234px;
        margin-top: 150px;
    }
    .FourPage{
        height: 812px;
    }
}
/*Footer=================*/
.footer{
    background-color: #3C3EAD;
    height: 260px;
}


.footer__item{
    display: flex;

}

.pepper{
    position: absolute;
    margin-left: -55px;
    margin-top: 69px;
}
.Poke__footer{
    position: absolute;
    height: 250px;
    margin-left: 1200px;
    margin-top: 25px;
}

.address_1{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color:#EFF3FF ;

}

.ad2{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 20px;
    color:#EFF3FF ;
}

.ad3{
    line-height: 15px;
    margin-left: 400px;
    margin-top: 60px;

}
@media screen and (max-width:420px){
    .footer {

        height: 110px;
        width: 100%;
        margin-top: -50px;


    }
    .pepper{
        width: 170px;
        margin-top: 18px;
        margin-left: 0;
    }
    .ad3{
        margin-left: 160px;
        margin-top: 10px;
        line-height: 10px;
    }
    .Points{
        width: 15px;
    }
    .address_1{
        font-size: 18px;
    }
    .ad2{
        font-size: 11px;
    }
    .Poke__footer{
        display: none;
    }
}

























